// Custom styles.

// 背景图
// http://ww1.sinaimg.cn/large/c2a4d307gw1eoy9gdvjkqj211y0np441.jpg
body {
    background:url(https://source.unsplash.com/random/1600x900);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size:cover;
}
.main-inner { 
    // margin-top: 60px;
    // padding: 60px 60px 60px 60px;
    background: #fff;
    opacity: 0.95;
    // min-height: 500px;
}
//banner背景图
//https://i.loli.net/2018/03/30/5abdda3ddfba1.jpg
.site-meta {
  background-image: url(https://ws1.sinaimg.cn/large/7dc65329ly1fpxdiql94xj20t10djdi6.jpg);
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size:cover;
}

// 修改fontawesome的heart颜色
.fa.fa-heart {
  color: #d43f57;
}

// 大代码块的自定义样式
.highlight, pre {
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
}
.highlight, pre {
  border: 1px solid #d6d6d6;
}
// 小代码块的自定义样式
code {
  background: #fbf7f8
  border: 0px;
  margin: 1px;
}

//文章摘要图片配置 图片外部的容器方框 
.out-img-topic {
  display: block;
//   max-height:300px;
//   margin-bottom: 24px;
  overflow: hidden;
}
//文章摘要图片配置
img.img-topic {
  display: block ;
  margin-left: .7em;
  margin-right: .7em;
  padding: 0;
  float: right;
  clear: right;
}